.password {
  position: relative;
  z-index: 1;
  &__modal-copied {
    display: block;
    position: absolute;
    z-index: 2;
    top: -20px;
    right: 30px;
    padding: 14px 20px;
    color: #fff;
    background-color: rgb(36, 36, 36);
    border-radius: 8px;
    opacity: 0;
    transition: all .8s;
    &_active {
      top: 30px;
      opacity: 1;
    }
  }

  &-wrapper {
    width: 700px;
    margin: 120px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__select {
    &-wrapper {
      display: flex;
    }
    &-text {
      margin-right: 20px;
      font-size: 18px;
    }
    &-length {
      border-radius: 6px;
      padding: 2px;
    }
  }
  &__generate{
    &-wrapper {
      margin-top: 20px;
    }
    &-btn {
      padding: 6px 16px;
      border-radius: 8px;
      background-color: rgb(60, 178, 214);
      color: #000;
      transition: all .6s;
      &:hover {
        background-color: #FFB540;;
        color: #fff;
        text-decoration: none;
      }
    }
  }
  &__output {
    &-wrapper {
      margin-top: 20px;
    }
    &-input {
      user-select: none;
      width: 230px;
      color: #000;
      background-color: #ffffff;
      padding: 2px 10px;
      border: 1px solid #8b8b8b;
      border-radius: 6px;
    }
    &-btn {
      color: #202124;
      padding: 4px 14px;
      background-color: #fff;
      border: 1px solid #8b8b8b;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}