.sidebar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #FFB540;
  box-shadow: 6px 0px 12px 0px rgba(34, 60, 80, 0.2);
  z-index: 10;
  &-title {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
  }
  &__links {
    &-container {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-item {
      margin-top: 8px;
      color: #000;
      font-size: 18px;
      font-weight: 400;
      transition: .6s all;
      &:hover {
        color: #fff;
      }
      &_active {
        color: #fff;
        background-color: #000;
        padding: 6px 16px;
        border-radius: 6px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &__clock {
    &-container {
      position: absolute;
      display: flex;
      bottom: 70px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 24px;
      margin-top: 50px;
      justify-content: center;
    }
  }
  &__date {
    &-container {
      position: absolute;
      display: flex;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 14px;
      margin-top: 50px;
      justify-content: center;
    }
  }
}